{% extends 'admin/base.html.twig' %}
 {% block admin %}

<div class="d-flex justify-content-center content">


    {% for message in app.flashes('success') %} 
        <div class=" alert alert-success d-flex justify-content-center">
            {{message}}
        </div>
    {% endfor %}

  {{ form_start(platForm, {'attr' : {'class' :'display-6 py-5' }}) }}





  {{ form_end(platForm) }}

</div>










{% endblock admin %}

