{% extends 'base.html.twig' %}

{% block body %}

    {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

  {{ include('login/form.html.twig') }}
{% endblock %}