{% extends 'base.html.twig' %}

{% block title %}Quai Antique{% endblock %}

{% block body %}
<main class="content">

<h1 class="py-5 text-center"> Bienvenue chez Quai Antique</h1>

<section>
<article class="text-center fs-4">La cuisine italienne est une cuisine gourmande, généreuse et pleine de saveurs.
 C’est dans cette optique que nous élaborons depuis plus de 40 ans chacun des plats composant
 notre carte avec des ingrédients de qualité. 
 </article>
<div class="d-flex justify-content-around">
<img class="img-fluid col-4 my-5 py-5" src="..\upload\photo-accueil1.jpg" alt="photo de cuisine">

<img class="img-fluid col-4 my-5 py-5 d-none d-lg-block" src="..\upload\photo-accueil2.jpg" alt="photo de cuisine">
</div>

{% if is_granted('ROLE_ADMIN') %}

<img class="img-fluid col-4 my-5 py-5 d-none d-lg-block" src="..\admin\upload\photo-accueil2.jpg" alt="photo de cuisine">
</div>

{% endif %}




<div class="d-flex justify-content-center my-2 py-2">
{% include "accueil/_reservationButton.html.twig" %}
</div>


</section>


</main>



{% endblock %}
