<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}Quai Antique
			{% endblock %}
		</title>
		<link
		rel="icon" href="../upload/Quai_Antique.jpg">

		{% block stylesheets %}
			{{ encore_entry_link_tags('app') }}
		{% endblock %}

		{% block javascripts %}
			{{ encore_entry_script_tags('app') }}
		{% endblock %}


	</head>
	{% include "accueil/_navbar.html.twig" %}

	<body class="content">
		{% block body %}{% endblock %}
	</body>

	{% include "accueil/_footer.html.twig" %}

</html>
