{% extends 'base.html.twig' %}

{% block title %}Les Menus{% endblock %}

{% block body %}
    <h1 class="py-5 mx-5 text-center">Les Menus</h1>
    <div class="container">
    
    <div class="row d-flex justify-center text-center" >
        <div class="shadow-lg p-3 m-5 bg-body">
        <h4 class="menu-title"> Menu De l'Archer</h4>
        <div>
        <span class="week">Du lundi au samedi</span> </br>
        <span> Entrée + Plat + Dessert : 20 €</span>
        </div>
        </div>
    </div>

    <div class="row d-flex justify-center text-center">
        <div class="shadow-lg p-3 m-5 bg-body">
        <h4 class="menu-title"> Menu De l'Epée</h4>
        <div>
        <span class="week">Du lundi au Vendredi</span> </br>
        <span> Entrée + Plat : 15 €</span>
        </div>
        </div>
    </div>

    <div class="row d-flex justify-center text-center">
        <div class="shadow-lg p-3 m-5 bg-body">
        <h4 class="menu-title"> Menu Du Baton</h4>
        <div>
        <span class="week" >Du lundi au Vendredi</span> </br>
        <span> Plat + Dessert : 12 € €</span>
        </div>
        </div>
    </div>


    </div>


{% endblock %}
