{% extends 'base.html.twig' %}

{% block title %}Les Plats
{% endblock %}

{% block body %}

		<h1 class="text-center py-5 mx-5">Les Plats</h1>
		<h2 class="text-center">Voici les plats que nous proposons</h2>



<div class="container js-filter">
	<div class="d-md-flex">
				<div class "col-md-3 ">
					{% include '_filter.html.twig' with {form:form} only %}
				</div>

			<div class='d-md-flex row mx-3 py-3 js-filter-content'>
			
			{% include '_plats.html.twig' %}
			</div>

</div>

<button type="button" class="btn btn-primary">
<a href="{{path('reservations')}}"> Reserver!
</button>
</div>



	<body>

	</body>
</div></body>{% endblock %}
