
<table class="table d-flex justify-content-center">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Utilisateur</th>
      <th scope="col">Jour</th>
      <th scope="col">Heure</th>
      <th scope="col">Nombre de couverts</th>
      <th scope="col">Commentaire</th>
      <th scope="col">Allergies</th>


    </tr>

					{% include 'reservations/_reservation_row.html.twig' %}
  </thead>
  <tbody>


  </tbody>
</table>

