{% extends 'base.html.twig' %}


 {% block body %}

<h2 class="text-center py-5 mx-5">Formulaire de Reservation</h2>
<div class="d-flex justify-content-center content">


{{form_start(reservationForm , {'attr' : {'class' :'display-6' }})}}





{{form_end(reservationForm)}}





</div>

{% for message in app.flashes('success') %} 

<div class=" alert alert-success d-flex justify-content-center">
    {{message}}
</div>

{% endfor %}










{% endblock body %}

